:80 {
  log / stdout "[{when}] {user} {remote} {proto} {method} {scheme}://{host}{path} | {hostname} {status} {size}" 
  redir 301 {
    # if {>X-Forwarded-Proto} is http
    /  https://{host}{uri}
  }
}

https://k0s.io:443 {
  tls /home/aaron/etc/letsencrypt/live/k0s.io/fullchain.pem /home/aaron/etc/letsencrypt/live/k0s.io/privkey.pem

  # sudo ~/go/bin/go-import-redirector -addr :4321 k0s.io/conntroll https://github.com/btwiuse/conntroll
  proxy /conntroll http://127.0.0.1:4321/ {
    # pass 'Host: k0s.io' header to rsc.io/go-import-redirector
    transparent

    # no need to use without here
    # without /conntroll
  }

  # grafana
  proxy /grafana http://127.0.0.1:3000/ {
  }

  proxy /prometheus http://127.0.0.1:9090/ {
    transparent
    # without /prometheus
  }

  proxy /oauth http://127.0.0.1:8002/ {
    transparent
  }

  log / stdout "[{when}] {user} {remote} {proto} {method} {scheme}://{host}{path} | {hostname} {status} {size}" 

  status 200 /ping
  status 200 /health

  # deny access to private paths
  status 403 /.git/

  redir 301 {
    /css /1.17/css/
    /docs /1.17/docs/
    /images /1.17/images/
  }

  root .
}
